@model AspNetCoreMvcTemplate.Areas.Accounting.ViewModels.AssignAccountsVm

@{
    ViewData["Title"] = "Assign Accounts to Cost Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assign Accounts to Cost Center</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="availableAccounts">Available Accounts:</label>
            <select multiple size="10" id="availableAccounts" class="form-control">
                @foreach (var account in Model.AvailableAccounts)
                {
                    <option value="@account.Value">@account.Text</option>
                }
            </select>
        </div>
        <div class="form-group text-center">
            <button type="button" id="addButton" class="btn btn-primary">Add >></button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="assignedAccounts">Assigned Accounts:</label>
            <select multiple size="10" id="assignedAccounts" name="selectedIds" class="form-control">
                @foreach (var account in Model.AssignedAccounts)
                {
                    <option value="@account.Value">@account.Text</option>
                }
            </select>
        </div>
        <div class="form-group text-center">
            <button type="button" id="removeButton" class="btn btn-primary"><< Remove</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="assignAccountsForm" asp-action="AssignAccounts" asp-route-id="@Model.CostCenterId" method="post">
            <input type="hidden" asp-for="CostCenterId" />
            <input type="hidden" id="selectedIdsInput" name="selectedIds" />
            <div class="form-group">
                <input type="submit" value="Save Assignments" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addButton').on('click', function () {
                var selectedOptions = $('#availableAccounts option:selected');
                if (selectedOptions.length > 0) {
                    selectedOptions.each(function () {
                        $('#assignedAccounts').append($(this).clone());
                        $(this).remove();
                    });
                }
            });

            $('#removeButton').on('click', function () {
                var selectedOptions = $('#assignedAccounts option:selected');
                if (selectedOptions.length > 0) {
                    selectedOptions.each(function () {
                        $('#availableAccounts').append($(this).clone());
                        $(this).remove();
                    });
                }
            });

            $('#assignAccountsForm').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var selectedIds = [];
                $('#assignedAccounts option').each(function () {
                    selectedIds.push($(this).val());
                });
                $('#selectedIdsInput').val(selectedIds.join(','));

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            window.location.href = '@Url.Action("Index")';
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function () {
                        toastr.error('An error occurred while saving assignments.');
                    }
                });
            });
        });
    </script>
}
